USE [master]
GO
/****** Object:  Database [MIS]    Script Date: 25/01/2022 10:06:17 PM ******/
CREATE DATABASE [MIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MIS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MIS]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](10) NOT NULL,
	[maSP] [varchar](10) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC,
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[accountID] [varchar](10) NOT NULL,
	[tenCH] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
	[ngayThamGia] [date] NULL,
	[SDT] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[diaChi] [nvarchar](100) NULL,
	[maPhuongXa] [varchar](10) NULL,
	[maGPKD] [varchar](50) NULL,
	[maCNATTP] [varchar](50) NULL,
 CONSTRAINT [PK_CuaHang] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiKhachHang]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiKhachHang](
	[maDC] [varchar](10) NULL,
	[accountID] [varchar](10) NULL,
	[diaChi] [nvarchar](200) NULL,
	[isDefault] [bit] NULL,
	[maPhuongXa] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[accountID] [varchar](10) NOT NULL,
	[maSP] [varchar](10) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[maTT] [varchar](10) NOT NULL,
	[tenTT] [varchar](20) NULL,
	[moTaTT] [nvarchar](500) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[maTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](10) NOT NULL,
	[ngayLap] [date] NULL,
	[phiShip] [int] NULL,
	[tongTien] [int] NULL,
	[maDCKH] [varchar](10) NULL,
	[account_S] [varchar](10) NULL,
	[account_CH] [varchar](10) NULL,
	[account_KH] [varchar](10) NULL,
	[hinhThucTT] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[accountID] [varchar](10) NULL,
	[hoTen] [nvarchar](100) NULL,
	[CMND] [varchar](20) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoHang]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoHang](
	[maHD] [varchar](10) NOT NULL,
	[thoiGian] [datetime] NOT NULL,
	[statusCode] [varchar](10) NOT NULL,
	[ghiChu] [varchar](200) NULL,
 CONSTRAINT [PK_LichSuGiaoHang] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[thoiGian] ASC,
	[statusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoaiSP] [varchar](10) NOT NULL,
	[tenLoaiSP] [nvarchar](50) NULL,
	[maNhomSP] [varchar](10) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[maLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[accountID] [varchar](10) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
	[ngaySinh] [date] NULL,
	[roleNV] [varchar](10) NULL,
	[luong] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomSanPham]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSanPham](
	[maNhomSP] [varchar](10) NOT NULL,
	[tenNhomSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomSanPham] PRIMARY KEY CLUSTERED 
(
	[maNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongXa]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongXa](
	[maPhuongXa] [varchar](10) NOT NULL,
	[tenPhuongXa] [nvarchar](100) NULL,
	[maQuanHuyen] [varchar](10) NULL,
 CONSTRAINT [PK_PhuongXa] PRIMARY KEY CLUSTERED 
(
	[maPhuongXa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanHuyen]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHuyen](
	[maQuanHuyen] [varchar](10) NOT NULL,
	[tenQuanHuyen] [nvarchar](100) NULL,
	[maTinhTP] [varchar](10) NULL,
 CONSTRAINT [PK_QuanHuyen] PRIMARY KEY CLUSTERED 
(
	[maQuanHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [varchar](10) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[anhSP] [varchar](500) NULL,
	[moTaSP] [nvarchar](500) NULL,
	[ngayDang] [date] NULL,
	[giaSP] [int] NULL,
	[soLuongTon] [int] NULL,
	[soSPDaBan] [int] NULL,
	[avgRating] [float] NULL,
	[soRating] [int] NULL,
	[loaiSP] [varchar](10) NULL,
	[account_CH] [varchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[accountID] [varchar](10) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[CMND] [varchar](20) NULL,
	[ngaySinh] [date] NULL,
	[bienSo] [varchar](10) NULL,
	[maBangLai] [varchar](20) NULL,
	[SDT] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[status] [bit] NULL,
	[diaChi] [nvarchar](100) NULL,
	[maPhuongXa] [varchar](10) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[accountID] [varchar](10) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](50) NULL,
	[role] [varchar](10) NULL,
	[token] [varchar](200) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanhPho]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanhPho](
	[maTinhTP] [varchar](10) NOT NULL,
	[tenTinhTP] [nvarchar](100) NULL,
 CONSTRAINT [PK_TinhTP] PRIMARY KEY CLUSTERED 
(
	[maTinhTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 25/01/2022 10:06:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[statusCode] [varchar](10) NOT NULL,
	[trangThai] [nvarchar](100) NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[statusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maSP], [soLuong]) VALUES (N'kh00101', N'sp001', 1)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maSP], [soLuong]) VALUES (N'kh00201', N'sp001', 1)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maSP], [soLuong]) VALUES (N'kh03294', N'sp001', 1)
GO
INSERT [dbo].[CuaHang] ([accountID], [tenCH], [CMND], [ngayThamGia], [SDT], [email], [diaChi], [maPhuongXa], [maGPKD], [maCNATTP]) VALUES (N'ch001', N'Hoàng Việt Shop', N'123456789', CAST(N'2021-12-29' AS Date), N'0123456789', N'mail1@gmail.com', N'đâu đó', N'hcm0201', N'ajsd3213212', N'a5sd465a4sd')
INSERT [dbo].[CuaHang] ([accountID], [tenCH], [CMND], [ngayThamGia], [SDT], [email], [diaChi], [maPhuongXa], [maGPKD], [maCNATTP]) VALUES (N'ch002', N'Thành Danh Hàng', N'123456781', CAST(N'2021-12-29' AS Date), N'0123456781', N'mail2@gmail.com', N'đằng nọ', N'hcm0306', N'as1df3a5sdf465', N'a5sd4a65s4d')
INSERT [dbo].[CuaHang] ([accountID], [tenCH], [CMND], [ngayThamGia], [SDT], [email], [diaChi], [maPhuongXa], [maGPKD], [maCNATTP]) VALUES (N'ch003', N'Hải Đăng Sạp', N'123456782', CAST(N'2021-12-29' AS Date), N'0123456782', N'mail3@gmail.com', N'chỗ đó đó', N'hcm0901', N'a3sdf1asdf21', N'z2v13354')
INSERT [dbo].[DiaChiKhachHang] ([maDC], [accountID], [diaChi], [isDefault], [maPhuongXa]) VALUES (N'kh00101', N'kh001', N'Đông Thổ Đại Đường', 0, N'hcm1202')
INSERT [dbo].[DiaChiKhachHang] ([maDC], [accountID], [diaChi], [isDefault], [maPhuongXa]) VALUES (N'kh00102', N'kh001', N'Tây Thiên', 1, N'hcm0901')
INSERT [dbo].[DiaChiKhachHang] ([maDC], [accountID], [diaChi], [isDefault], [maPhuongXa]) VALUES (N'kh00201', N'kh002', N'Hoa Quả Sơn', 1, N'hcm0502')
INSERT [dbo].[GioHang] ([accountID], [maSP], [soLuong]) VALUES (N'kh001', N'sp002', 1)
INSERT [dbo].[GioHang] ([accountID], [maSP], [soLuong]) VALUES (N'kh001', N'sp016', 2)
INSERT [dbo].[GioHang] ([accountID], [maSP], [soLuong]) VALUES (N'kh001', N'sp017', 1)
INSERT [dbo].[HinhThucThanhToan] ([maTT], [tenTT], [moTaTT]) VALUES (N'hb001', N'Payoo', N'Ví điện tử Payoo là ứng dụng thanh toán trực tuyến rất nhiều hóa đơn, dịch vụ một cách nhanh chóng, dễ dàng, tuân thủ tiêu chuẩn an toàn và bảo mật cao')
INSERT [dbo].[HinhThucThanhToan] ([maTT], [tenTT], [moTaTT]) VALUES (N'hb002', N'Momo', N'Siêu Ứng Dụng Thanh Toán với hàng trăm tiện ích dịch vụ với hơn 30 triệu người tin dùng')
INSERT [dbo].[HinhThucThanhToan] ([maTT], [tenTT], [moTaTT]) VALUES (N'hb003', N'ZaloPay', N'Ứng dụng thanh toán di động với nhiều tính năng độc đáo. Được xây dựng chuyên biệt để thỏa mãn mọi nhu cầu thanh toán trong cuộc sống và nhu cầu')
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [phiShip], [tongTien], [maDCKH], [account_S], [account_CH], [account_KH], [hinhThucTT]) VALUES (N'kh00101', CAST(N'2021-01-07' AS Date), 20000, 319000, N'kh00101', N'sp0201', N'ch001', N'kh001', N'hb001')
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [phiShip], [tongTien], [maDCKH], [account_S], [account_CH], [account_KH], [hinhThucTT]) VALUES (N'kh00102', CAST(N'2021-01-07' AS Date), 20000, 523000, N'kh00101', N'sp0306', N'ch002', N'kh001', N'hb004')
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [phiShip], [tongTien], [maDCKH], [account_S], [account_CH], [account_KH], [hinhThucTT]) VALUES (N'kh00103', CAST(N'2021-01-06' AS Date), 20000, 1026000, N'kh00102', N'sp0901', N'ch003', N'kh001', N'hb003')
GO
INSERT [dbo].[KhachHang] ([accountID], [hoTen], [CMND], [ngaySinh], [gioiTinh], [SDT], [email]) VALUES (N'kh001', N'Đường Huyền Trang', N'01234567890', CAST(N'2000-01-04' AS Date), N'Nam', N'01234567890', N'thphat@gmail.com')
INSERT [dbo].[KhachHang] ([accountID], [hoTen], [CMND], [ngaySinh], [gioiTinh], [SDT], [email]) VALUES (N'kh002', N'Tôn Ngộ Không', N'01234567891', CAST(N'2000-07-21' AS Date), N'Nữ', N'01234567891', N'tmthu@gmail.com')
INSERT [dbo].[KhachHang] ([accountID], [hoTen], [CMND], [ngaySinh], [gioiTinh], [SDT], [email]) VALUES (N'kh003', N'Trư Bát Giới', N'01234567892', CAST(N'2000-11-20' AS Date), N'Nữ', N'01234567892', N'htvi@gmail.com')
INSERT [dbo].[LichSuGiaoHang] ([maHD], [thoiGian], [statusCode], [ghiChu]) VALUES (N'kh00101', CAST(N'2021-01-07T05:00:00.000' AS DateTime), N's1', NULL)
INSERT [dbo].[LichSuGiaoHang] ([maHD], [thoiGian], [statusCode], [ghiChu]) VALUES (N'kh00101', CAST(N'2021-01-07T05:10:00.000' AS DateTime), N's2', NULL)
INSERT [dbo].[LichSuGiaoHang] ([maHD], [thoiGian], [statusCode], [ghiChu]) VALUES (N'kh00101', CAST(N'2021-01-07T05:20:00.000' AS DateTime), N's3', NULL)
GO
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoaiSP], [maNhomSP]) VALUES (N'lsp001', N'Sản phẩm thịt', N'nsp001')
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoaiSP], [maNhomSP]) VALUES (N'lsp002', N'Sản phẩm thuỷ sản', N'nsp001')
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoaiSP], [maNhomSP]) VALUES (N'lsp003', N'Sản phẩm rau xanh', N'nsp001')
INSERT [dbo].[NhanVien] ([accountID], [hoTen], [CMND], [ngaySinh], [roleNV], [luong]) VALUES (N'admin', N'Đăng', NULL, NULL, N'boss', 0)
INSERT [dbo].[NhanVien] ([accountID], [hoTen], [CMND], [ngaySinh], [roleNV], [luong]) VALUES (N'nv001', N'Huỳnh Rose', N'023154665421', CAST(N'2000-01-04' AS Date), N'nv', 10000000)
INSERT [dbo].[NhanVien] ([accountID], [hoTen], [CMND], [ngaySinh], [roleNV], [luong]) VALUES (N'nv002', N'Jun Vũ', N'023154665421', CAST(N'2000-01-04' AS Date), N'nv', 3000000)
INSERT [dbo].[NhomSanPham] ([maNhomSP], [tenNhomSP]) VALUES (N'nsp001', N'Thực phẩm tươi sống')
INSERT [dbo].[NhomSanPham] ([maNhomSP], [tenNhomSP]) VALUES (N'nsp002', N'Công nghệ phẩm')
INSERT [dbo].[NhomSanPham] ([maNhomSP], [tenNhomSP]) VALUES (N'nsp003', N'Lương thực')
INSERT [dbo].[PhuongXa] ([maPhuongXa], [tenPhuongXa], [maQuanHuyen]) VALUES (N'hcm0101', N'Bến Nghé', N'hcm01')
INSERT [dbo].[PhuongXa] ([maPhuongXa], [tenPhuongXa], [maQuanHuyen]) VALUES (N'hcm0102', N'Bến Thành', N'hcm01')
INSERT [dbo].[PhuongXa] ([maPhuongXa], [tenPhuongXa], [maQuanHuyen]) VALUES (N'hcm0103', N'Phạm Ngũ Lão', N'hcm01')
GO
INSERT [dbo].[QuanHuyen] ([maQuanHuyen], [tenQuanHuyen], [maTinhTP]) VALUES (N'hcm01', N'Quận 1', N'hcm')
INSERT [dbo].[QuanHuyen] ([maQuanHuyen], [tenQuanHuyen], [maTinhTP]) VALUES (N'hcm02', N'Quận 2', N'hcm')
INSERT [dbo].[QuanHuyen] ([maQuanHuyen], [tenQuanHuyen], [maTinhTP]) VALUES (N'hcm03', N'Quận 3', N'hcm')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [anhSP], [moTaSP], [ngayDang], [giaSP], [soLuongTon], [soSPDaBan], [avgRating], [soRating], [loaiSP], [account_CH]) VALUES (N'sp001', N'Thịt ba rọi heo tươi C.P khay 500g', N'https://cdn.tgdd.vn/Products/Images/8781/228329/bhx/ba-roi-heo-khay-500g-202111262046493617_300x300.jpg', N'1  Hương vị cola sảng khoái, thơm lừng hoà quyện trong miếng kẹo mềm dẻo, kích thích mọi giác quan.', CAST(N'2021-12-31' AS Date), 91000, 50, 20, 4.9, 7, N'lsp001', N'ch001')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [anhSP], [moTaSP], [ngayDang], [giaSP], [soLuongTon], [soSPDaBan], [avgRating], [soRating], [loaiSP], [account_CH]) VALUES (N'sp002', N'Thịt heo xay nhuyễn G khay 300g', N'https://cdn.tgdd.vn/Products/Images/8781/245247/bhx/thit-heo-xay-nhap-khau-tam-uop-bach-hoa-xanh-tui-250g-202107081024096978_300x300.jpeg', N'2  Hương vị cola sảng khoái, thơm lừng hoà quyện trong miếng kẹo mềm dẻo, kích thích mọi giác quan.', CAST(N'2021-12-31' AS Date), 52000, 50, 30, 5, 7, N'lsp001', N'ch002')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [anhSP], [moTaSP], [ngayDang], [giaSP], [soLuongTon], [soSPDaBan], [avgRating], [soRating], [loaiSP], [account_CH]) VALUES (N'sp003', N'Ba chỉ bò Úc tươi Pacow khay 250g', N'https://cdn.tgdd.vn/Products/Images/8139/223384/bhx/thit-ba-chi-bo-uc-pacow-khay-250g-202112031540589978_300x300.jpg', N'3  Hương vị cola sảng khoái, thơm lừng hoà quyện trong miếng kẹo mềm dẻo, kích thích mọi giác quan.', CAST(N'2021-12-31' AS Date), 69000, 50, 40, 4.7, 7, N'lsp001', N'ch003')
GO
INSERT [dbo].[Shipper] ([accountID], [hoTen], [CMND], [ngaySinh], [bienSo], [maBangLai], [SDT], [email], [status], [diaChi], [maPhuongXa]) VALUES (N'sp0101', N'NGUYỄN THỊ ÁI', N'325134020', CAST(N'2003-03-30' AS Date), N'59H86583', N'476446242321', N'0900340777', N'sp0101@gmail.com', 0, N'Số 863/771', N'hcm0101')
INSERT [dbo].[Shipper] ([accountID], [hoTen], [CMND], [ngaySinh], [bienSo], [maBangLai], [SDT], [email], [status], [diaChi], [maPhuongXa]) VALUES (N'sp0102', N'TRAN VAN AN', N'289463130', CAST(N'1989-09-06' AS Date), N'59P46393', N'772923557499', N'0564801258', N'sp0102@gmail.com', 0, N'Số 766/548', N'hcm0102')
INSERT [dbo].[Shipper] ([accountID], [hoTen], [CMND], [ngaySinh], [bienSo], [maBangLai], [SDT], [email], [status], [diaChi], [maPhuongXa]) VALUES (N'sp0103', N'TRẦN THỊ HỒNG ÂN', N'225358668', CAST(N'1977-07-03' AS Date), N'60B86474', N'262896230703', N'0113676471', N'sp0103@gmail.com', 0, N'Số 640/723', N'hcm0103')
GO
INSERT [dbo].[TaiKhoan] ([accountID], [username], [password], [role], [token]) VALUES (N'admin', N'admin', N'1', N'nv', NULL)
INSERT [dbo].[TaiKhoan] ([accountID], [username], [password], [role], [token]) VALUES (N'ch001', N'ch001', N'1', N'ch', NULL)
INSERT [dbo].[TaiKhoan] ([accountID], [username], [password], [role], [token]) VALUES (N'ch002', N'ch002', N'1', N'ch', NULL)
GO
INSERT [dbo].[TinhThanhPho] ([maTinhTP], [tenTinhTP]) VALUES (N'hcm', N'TP.Hồ Chí Minh')
INSERT [dbo].[TrangThai] ([statusCode], [trangThai]) VALUES (N's1', N'Chờ giao hàng')
INSERT [dbo].[TrangThai] ([statusCode], [trangThai]) VALUES (N's2', N'Đang đóng gói')
INSERT [dbo].[TrangThai] ([statusCode], [trangThai]) VALUES (N's3', N'Đang giao hàng')
USE [master]
GO
